.hover-image {
    transition: filter 0.3s ease;
}

.hover-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ensures the container takes up the full width */
}

.hover-image {
    display: block; /* Ensures the image takes up the full width of its container */
    width: 100%; /* Ensures the image scales to the container's width */
    transition: filter 0.3s ease;
}

.hover-image:hover {
    filter: brightness(85%);
}

.hover-text {
    visibility: hidden;
    color: white; /* Text color */
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.3s ease;
}

.hover-container:hover .hover-text {
    visibility: visible;
}

    width: 100%
}

