body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(40, 40, 42, 0.8); /* Dark background color */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for header and footer */
    color: white;
    text-align: center;
    padding: 1em 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 5em 1em;
    text-align: center;
}



.hover-container {
    position: relative;
    display: inline-block;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.hover-image {
    display: block;
    /*width: auto;
    height: auto; /* Ensures the image scales proportionally */
    transition: filter 0.3s ease;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    background-color: transparent;
}

.hover-container:hover .hover-image {
    filter: brightness(65%);
}

.hover-text {
    visibility: hidden;
    color: white;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.3s ease;
}

.hover-container:hover .hover-text {
    visibility: visible;
}

.icon {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.icon:hover {
    transform: scale(1.5); /* Slightly enlarges the logo on hover */
}

