.hover-image {
    transition: filter 0.3s ease;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-image {
    display: block; /* Ensures the image takes up the full width of its container */ 
    width: 100%;
    transition: filter 0.3s ease;
}

.hover-image:hover {
    filter: brightness(85%);
}

.hover-text {
    visibility: hidden;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    color: white;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.3s ease;
    /*border-radius: 5px; /* Optional: Adds rounded corners to the text background */
}

.hover-container:hover .hover-text {
    visibility: visible;
    display: block;
    width: 100%
}

